*.exe
*.dll
*.pdb
Lesson2/HW2_loop/HW2_loop/bin*/
Lesson2/HW2_loop/HW2_loop/obj*/
Lesson3/HW3_Array/HW3_Array/bin*/
Lesson3/HW3_Array/HW3_Array/obj*/
Lesson4/HW_4_LIFO_FIFO/HW_4_LIFO_FIFO/bin*/
Lesson4/HW_4_LIFO_FIFO/HW_4_LIFO_FIFO/obj*/
Lesson4/HW_4_Sort/HW_4_Sort/bin*/
Lesson4/HW_4_Sort/HW_4_Sort/obj*/
Lesson5/HW_5/HW_5/bin*/
Lesson5/HW_5/HW_5/obj*/
Lesson6/HW_6_Sort/HW_6_Sort/bin*/
Lesson6/HW_6_Sort/HW_6_Sort/obj*/
Lesson6/HW_6_LIFO_FIFO/HW_6_LIFO_FIFO/bin*/
Lesson6/HW_6_LIFO_FIFO/HW_6_LIFO_FIFO/obj*/
Lesson7/HW_7_Sort_Car/HW_7_Sort_Car/bin*/
Lesson7/HW_7_Sort_Car/HW_7_Sort_Car/obj*/
Lesson7/HW7_Sort_Queue/HW7_Sort_Queue/bin*/
Lesson7/HW7_Sort_Queue/HW7_Sort_Queue/obj*/
Lesson9/HW9_Dynamic/HW9_Dynamic/bin*/
Lesson9/HW9_Dynamic/HW9_Dynamic/obj*/
Lesson15/HW_15/HW_15/bin*/
Lesson15/HW_15/HW_15/obj*/
Lesson15/HW_15/StackAndQueue/bin*/
Lesson15/HW_15/StackAndQueue/obj*/